<script>
  import db from "./lib/db";
  const presses = db.get("thebutton").get("presses");
  $: count = Object.keys($presses || { _: null }).length - 1;

  async function press() {
    presses.set({ ".": String.random() });
  }
</script>

<div>The button has been pressed {count} times.</div>
<button on:click={press}> Press me </button>
<div class="signature">Amaranta</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

  div {
    font-family: "Bebas Neue", cursive;
    font-size: 5em;
  }

  button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Bebas Neue", cursive;
    font-size: 4em;
    border: none;
    background: rgb(226, 77, 72);
    padding: 0.5em 1em;
    color: white;
  }

  .signature {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-family: "Sacramento", cursive;
    margin: -0.5rem 0.5rem;
    user-select: none;
  }
</style>
